extends ../layout

block form
  .frame
    .paper.pad
      form.partial(method="post", action="/login")
        .row
          .span-3.centered
            p: i.icon-user.enormous
          .span-9
            .ctl-row
              label
                span= __("Email")
                input.field.focus(type="text", name="user[email]")
            .ctl-row
              label
                span= __("Password")
                input.field(type="password", name="user[password]")
        p.centered
          button.btn.primary.large(type="submit")= __("Login")

block content
  .pad(data-ref="#nav-login")
    .row
      .span-3 &nbsp;
      .span-6
        block form
      .span-3 &nbsp;

