extends ../layout

block main
  .frame(data-ref="#login")
    .paper.pad
      form.partial(method="post", action="/login")
        .row
          .span-3
            &nbsp
          .span-1
            i.icon-user.icon-large
          .span-5.pad-bottom
            label.descr-left(for="ue") Введите адрес электронной почты
            input.field(type="text", name="ue", id="ue")
            label.descr-left(for="up") Введите пароль
            input.field(type="password", name="up", id="up")

        p.centered
          button.btn.primary.large(type="submit") Войти в систему
