extends ../layout

block form
  .frame
    .paper.pad
      form.partial(method="post", action="/login")
        .row
          .span-3.no-mobile-screen
            i.icon-user.icon-large
          .span-9
            .ctl-row
              label
                span Введите адрес электронной почты
                input.field(type="text", name="user[email]")
            .ctl-row
              label
                span Введите пароль
                input.field(type="password", name="user[password]")
        p.centered
          button.btn.primary.large(type="submit") Войти в систему

block main
  .row.mobile(data-ref="#login")
    .span-3 &nbsp;
    .span-6
      block form
    .span-3 &nbsp;

