a.bot-line
  i.icon-info-sign
  span= __("Summury")

a(href="/cards")
  i.icon-credit-card
  span= __("Cards")
a
  i.icon-credit-card
  span= __("Vouchers")
a
  i.icon-credit-card
  span= __("Coupons")
