extends layout

block append main
  .frame
    .paper.pad
      h1 hello
      .ctl-row
        form(method="post", action="#{cardPath}/deposit")
          label= __('Enter the numbers')
            input.field.focus(type="text", name='deposit')
          p.centered
            button.btn.primary.large(type="submit")= __("Deposit")