each merchant in merchants
  a.black.left-align(href="/merchants/choose/#{merchant.id}")
    span= merchant.title

a.black.left-align(href="/merchants/new")
  i.icon-plus-sign
  span= __("Create new merchant")