extends layout

block append main
  .frame
    .paper.pad
      form.partial(method="post", action="/merchants")
        .row
          .span-3.centered.no-medium-screen
            p: i.icon-building.enormous
          .span-9
            h2= __('New merchant')
            .ctl-row
              label
                span= __("Title")
                input.field.focus(type="text", name="merchant[title]")
        p.centered
          button.btn.primary.large(type="submit")= __("Create new merchant")


