.paper
  background: #f5f5f5
  box-shadow: 0 1px 3px rgba(0,0,0,.75), 0 0 64px rgba(0,0,0,.1) inset

.tobi
  background: #aad0de
  box-shadow: 0 0 3px rgba(0,0,0,1),
    0 0 16px rgba(0,0,0,.25) inset,
    0 1px 1px rgba(255,255,255,.4) inset
  text-shadow: 0 1px 1px rgba(255,255,255,.75)
  color: #033
  border-color: #7ab

.loki
  background: #ada
  box-shadow: 0 0 3px rgba(0,0,0,1),
    0 0 16px rgba(0,0,0,.25) inset,
    0 1px 1px rgba(255,255,255,.4) inset
  text-shadow: 0 1px 1px rgba(255,255,255,.75)
  color: #242
  border-color: #7a7

.frame
  padding: 4px
  background: rgba(255,255,255,.25)
  box-shadow: 0 1px 3px #000, 0 0 64px rgba(0,0,0,.1) inset

.headline
  padding: 6px 12px
  i { opacity: .75 }
  i + span
    margin-left: 8px